<p id="notice"><%= notice %></p>

<p>
  <strong>New:</strong>
  <%= @contact.new %>
</p>

<p>
  <strong>Create:</strong>
  <%= @contact.create %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
